.header-bg{
    background-color: #083d77;
}
.text-admin-color{
    color: #ffff !important;
}
.text-admin-color:hover{
    color: #ffff !important;
}
.bg-blue {
    background-color: #083d77;
}
.form-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    padding-right: 15px;
  }
  .main-header .logo {
    padding: 12px 0px;
}
.tab-header {
    background-color: #000;
    padding: 12px 0px;
}



.login-form-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-item {width: 588px;max-width: 100%;}